<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <link href="http://wonderfullyflawed.com./atom" rel="alternate" title="Trek Glowacki" type="application/atom+xml" />
    <link href="/styles/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/styles/code.css" media="screen" rel="stylesheet" type="text/css" />
    <title>Trek | {{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1 id="title">
        Some writing by <a href='/about'>Trek</a>
      </h1>
      <h2 id="subtitle">
        &amp; <a href="/archive">archive</a>, <a href="http://twitter.com/trek">twitter</a>, <a href='http://github.com/trek'>github</a>
      </h2>
    </header>
    <div id="container">
      {{ content }}
    </div>
    {% include analytics.html %}
  </body>
</html>