/* reset */
* {
  margin: 0;
  padding: 0;
}

a img { border-width: 0; }

/* html5 */
header, footer, nav, article { display: block; }
#container { max-width: 40em; min-width: 30em; width: 35em;}

body {
  background-color: #edf1f3;
  color: #222;
  font-family: 'Times New Roman', 'Times', serif;
  line-height: 1.4em;
  margin: 20px auto 18px 25%;
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 18px;
}

h2 {
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 18px;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

article {
  border-bottom: 1px solid #222;
  margin-bottom: 20px;
}

article p {
  font-size: 13pt;
  line-height: 26px;
}


/* links */
a:link {
  color: #336699;
  text-decoration: none;
}
a:visited {
  color: #660000;
}
a:hover {
  color: #336699;
  border-bottom: 2px solid #336699;
}


li { margin-bottom: 4px; }

p, ul, ol { margin-bottom: 18px; }

ul, ol {
  margin-left: 2em;
}

#subtitle { color: #333; font-size: 24pt; }
#title { color: #333; font-size: 32pt; }
#about {
  color: #666;
  font-size: 22pt;
  margin-bottom: 24pt;
  margin-top: 24pt;
}